[Unit]
SourcePath=/sbin/leprop-service
Description=leprop Service
Before=persist-prop.service
Requires=persist-prop.service
DefaultDependencies=no

[Service]
User=leprop
Group=leprop
Restart=always
ExecStartPre=+/bin/mkdir -p -m 777 /dev/socket
ExecStart=/sbin/leprop-service

[Install]
WantedBy=sysinit.target
