# Copyright (c) 2016, 2019 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#   * Redistributions of source code must retain the above copyright
#     notice, this list of conditions and the following disclaimer.
#   * Redistributions in binary form must reproduce the above
#     copyright notice, this list of conditions and the following
#     disclaimer in the documentation and/or other materials provided
#     with the distribution.
#   * Neither the name of The Linux Foundation nor the names of its
#     contributors may be used to endorse or promote products derived
#     from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE

[Unit]
SourcePath=/sbin/logd
DefaultDependencies=no
After=systemd-tmpfiles-setup.service
Description=Logd logging Service

[Service]
Type=forking
Restart=on-failure
ExecStartPre=+/bin/mkdir -p -m 777 /dev/socket
ExecStartPre=/bin/sh -c '/bin/echo 900 > /proc/sys/net/unix/max_dgram_qlen'
ExecStartPre=/bin/sh -c '/sbin/logd & echo $! >/var/run/logd.pid'
PIDFile=/var/run/logd.pid
# Clients can sucessfully use logd only after right permissions are set to sockets.
# Setting socket permissions as part of ExecStart forces clients to wait till then.
# Also add a small delay (0.2 sec), before setting socket permissions.
# This delay needed for logd to complete intilization before setting permissions.
ExecStart=+/bin/sh -c '/bin/sleep 0.2 || /bin/chmod 0666 /dev/socket/logd || /bin/chmod 0666 /dev/socket/logdr || /bin/chmod 0222 /dev/socket/logdw'
ExecStop=/bin/rm /dev/socket/logd || /bin/rm /dev/socket/logdr || /bin/rm /dev/socket/logdw

[Install]
Alias=logcat.service
